body {
  background-image: url('images/BlackLeather.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}


.nav-bar {
  background: #f1f1f1;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}


.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  margin-right: 10px;
}

.store-title {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 34px;
  font-weight: bold;
}

.subtitle {
  font-size: 22px;
  color: #555;
}


.nav-right {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: #555;
}


.nav-bar2 {
  background-color: #333;
  color: white;
  width: 95%;
  position: absolute;
  top: 110px;
  border-radius: 8px;
  margin-left: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: black;
}

.category-item {
  text-align: center;
  font-size: 14px;
  padding: 20px;
  background-image: linear-gradient(360deg, black, #4f333300);
  color: white;
  transition: background-color 0.3s;
  border: 1px solid #404040;
}

.category-item:hover {
  background-color: #555;
}

.slideshow {
  height: 587px;
  position: absolute;
  object-fit: cover;
  top: 19%;
  left: 2.1%;
  height: px;
  width: 1818px;
}



.card {
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  background-color: antiquewhite;
  box-shadow: 0 5px 15px gray;
  margin: 42px;
}

.background-video {
  position: fixed; 
  top: 50%;
  left: 50%;
  bottom: 10%;
  width: 50%; 
  height: 50%; 
  object-fit: contain; 
  z-index: 1; 
}
.content {
  position: relative; 
  z-index: 1; 
}