body {
  background-image: url('images/BlackLeather.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}


.nav-bar {
  background: #161616;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}


.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  margin-right: 10px;
}

.store-title {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 34px;
  font-weight: bold;
  color: #ccc;
}

.subtitle {
  font-size: 22px;
  color: #555;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Spacing between nav items */
}

.nav-right span {
  color: white;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}

.nav-right span:hover {
  color: #ccc; /* Slight color change on hover */
}

.nav-right span:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
}

.search-box {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: #555;
}


.nav-bar2 {
  background-color: #333;
  color: white;
  width: 95%;
  position: relative;
  top: -10px;
  /* border-radius: 8px; */
  margin-left: 40px;
  z-index: 1;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: black;
}

.category-item {
  text-align: center;
  font-size: 14px;
  padding: 20px;
  background-image: linear-gradient(360deg, black, #4f333300);
  color: white;
  transition: background-color 0.3s;
  border: 1px solid #404040;
}

.category-item:hover {
  background-color: #555;
}

.video-wrapper {
  position: relative;
  margin: 1px auto 0; /* Creates a 1px gap above */
  width: 95%;
}

.slideshow {
  position: absolute;
  top: calc(110px + 1px);
  top: 100%;
  width: 100%;
  left: 7px;
  max-width: 1788px;
  height: 451px;
  object-fit: cover;
  border-top: 1px solid transparent;
}